body {
  background: #DDD;
}

.board-cell, .info {
  width: 300px;
  text-align: center;
}

.board-cell {
  height: 300px;
}

.letter {
  font-size: 200px;
  padding: 50px 0;
}

.x {
  color: #023CC4;
}

.o {
  color: #C40202;
}

.turn-info {
  text-align: center;
}

#reset {
  margin-top: 20px;
}

.middle-row {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.middle-column {
  border-right: 4px solid black;
  border-left: 4px solid black;
}
