body {
  background: #DDD;
}

.board-cell, .info {
  width: 300px;
  margin: 10px;
  text-align: center;
}

.board-cell {
  height: 300px;
  background-color: gray;
}

.letter {
  font-size: 200px;
  padding: 50px 0;
}

.x {
  color: #023CC4;
}

.o {
  color: #C40202;
}

.turn-info {
  text-align: center;
}
